<ng-container *ngIf="site; else overview">
  <app-site-edit
    [site]="site"
    (save)="saveSite($event)"
    (delete)="deleteSite($event)"
    (cancel)="cancelEdit()"
  ></app-site-edit>
</ng-container>

<ng-template #overview>
  <mat-card class="card-margin">
    <mat-card-header>
      <img src="/assets/image/sites.png" alt="Sites" mat-card-avatar />
      <mat-card-title>Overview of sites</mat-card-title>
      <mat-card-subtitle>{{ siteCount }} sites known.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Internal URL</td>
            <td>Exposed URL</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of sites$ | async">
            <td>
              <mat-label>{{ site.name }}</mat-label>
            </td>
            <td>
              <app-link [href]="site.internalUrl">{{
                site.internalUrl
              }}</app-link>
            </td>
            <td>
              <app-link [href]="site.exposedUrl">{{
                site.exposedUrl
              }}</app-link>
            </td>
            <td>
              <button mat-button (click)="editSite(site)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button (click)="deleteSite(site)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="4">
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
              "
            >
              <button mat-button (click)="addSite()" color="primary">
                <mat-icon>add</mat-icon>
                Add Site
              </button>
            </div>
          </td>
        </tfoot>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>

<app-export-config-page></app-export-config-page>
